/* FROM GENERAL TO SPECIFC */

/* Everything */

* {
	margin: 0px;
	padding: 0px;
}


/* Elements */

a {
	text-decoration: none;
}

a:link {
	/*color: #99DD99;*/
	color: yellow;
}
           
a:active {
	color: blue;
}
            
a:hover {
	color: white;
	font-style: italic;
}
            
a:visited {
	color: #AAEEAA;
}

body {
	/*background: #E3DBA6;*/
	background-image: url("/pics/mountain.jpg");
	background-attachment: fixed;
	min-width: 1250px;
	max-width: 1620px;
	margin: 5px auto 0px;
}

div {
	padding: 5px;
}

iframe {
	border-style: none;
}

img {
	max-width: 85%;
}

img:hover {
	border-style: dashed;
}

p {
	color: #FFFFFF;
	font-size: 85%;
	font-family: Verdana, Geneva, sans-serif;
	margin: 10px;
}

ul {
	background: rgb(59, 89, 152);
	list-style-type: square;
	line-height: 4em;
}

ul > li {
	margin-left: 2em;
	font-family: "lucida grande", tahoma, verdana, arial, sans-serif;
	color: white;
	font-size: 80%;
}

ul > li > a {
	font-size: 110%;
}


/* Classes */

.border {
	border-style: solid;
	border-width: 4px;
	padding: 4px;
}
			
.center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.youtube {
	display: block;
	width: 560px;
	margin-left: auto;
	margin-right: auto;
}




/* DIV classes */

div.clear {
	clear: both;
}

div.excerpt {
	background: rgb(60, 60, 60);
	padding: 3em;
}

div.floatLeft {
	float: left;
}

div.floatRight {
	float: right;
}
 
div.header {
	background: rgb(60, 60, 60);
	opacity: 0.80;
}

div.post {
	border-style: solid;
	border-width: 1px;
	border-color: rgb(227, 227, 125);
	margin: 3em 1em 3em 1em;
	
	-moz-border-radius-topright: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-right-radius: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	border-top-left-radius: 50px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;	
}
 			
div.translucent {
	opacity: 0.95;
}


/* P Classes */

p.black {
	color: black;
}

p.center {
	text-align: center;
}

p.citation {
/*	padding-left: 70px;
	padding-right: 70px;*/
	font-family: Georgia, serif;
	font-style: italic;
	color: rgb(222, 222, 98);
}

p.footer {
	color: black;
	font-family: Arial, sans-serif;
	letter-spacing: 1em;
}

p.header {
	color: #FAEEA0;
	font-family: "Antic Didone", Arial, sans-serif;
	font-size: 350%;
	font-weight: bold;
	letter-spacing: 0.25em;
	padding: 30px;
	text-align: center;
}

p.postDate {
	font-family: "Courier New";
	font-size: 115%;
	text-align: right;
}

p.postHeader {
	font-family: "Palatino Linotype";
	font-size: 130%;
	font-style: italic;
	color: rgb(250, 240, 240);
	text-align: center;
}

p.referenceSource {
	font-family: "Courier New";
}
			
p.subheader {
	font-family: "Palatino Linotype";
	font-size: 160%;
	font-style: italic;
	text-align: center;
}


/* SPAN classes */

span.quote {
	color: #AA77FF;
	font-style: italic;
}
			



/* DIV IDs */

div#footer {
	background: #FAEEA0;
}

div#frameLeft {
	width: 245px;
	background: #656069;
}
 
div#frameRight {
	background: white;
	width: 363px;
}

div#middle {
	margin-left: 255px;
	margin-right: 373px;
	background: #444455;	
}
			
div#textRight {
	padding: 10px;
	background: #444455;
}